        <!-- Car Steps Start -->
           <section id="valores">
        <div class="container-fluid steps py-5">
            <div class="container py-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
                    <h1 class="display-5 text-capitalize text-white mb-3"><span class="text-primary"> Valores</span></h1>
                    <p class="mb-0 text-white">
                    </p>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="steps-item p-4 mb-4">
                            <h4>Inclusión financiera</h4>
                            <p class="mb-0">Creemos en el acceso equitativo a los servicios financieros para todos, independientemente de su situación económica o social</p>
                            <div class="setps-number">01.</div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="steps-item p-4 mb-4">
                            <h4>Innovación</h4>
                            <p class="mb-0">Nos esforzamos por desarrollar soluciones financieras innovadoras y personalizadas que satisfagan las necesidades de nuestros clientes</p>
                            <div class="setps-number">02.</div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="steps-item p-4 mb-4">
                            <h4>Excelencia en el servicio</h4>
                            <p class="mb-0">Nos comprometemos a brindar un servicio de alta calidad, eficiente y amable, que supere las expectativas de nuestros clientes</p>
                            <div class="setps-number">03.</div>
                        </div>
                    </div>
                </div>
                           <div class="row g-4">
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="steps-item p-4 mb-4">
                            <h4>Responsabilidad social</h4>
                            <p class="mb-0">Reconocemos nuestra responsabilidad ante la sociedad y nos esforzamos por generar un impacto positivo en las comunidades que servimos</p>
                            <div class="setps-number">04.</div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="steps-item p-4 mb-4">
                            <h4>Integridad y transparencia</h4>
                            <p class="mb-0">Nos guiamos por principios éticos y transparentes en todas nuestras operaciones y decisiones</p>
                            <div class="setps-number">05.</div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="steps-item p-4 mb-4">
                            <h4>Colaboración y trabajo en equipo</h4>
                            <p class="mb-0">Fomentamos una cultura de colaboración y trabajo en equipo para lograr nuestros objetivos y brindar un mejor servicio a nuestros clientes</p>
                            <div class="setps-number">06.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         </section>
        <!-- Car Steps End -->
             <div class="container-fluid blog py-5">
            <div class="container py-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
                    <h1 class="display-5 text-capitalize mb-3">Valor<span class="text-primary"> Agregado</span></h1>
                    <p class="mb-0">
                    </p>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="blog-item">

                            <div class="blog-content rounded-bottom p-4">
                                <div class="blog-date">1</div>

                                <a href="#" class="h4 d-block mb-3">Asesoramiento financiero personalizado</a>
                                <p class="mb-3">Ayudar a los clientes a tomar decisiones informadas sobre sus finanzas y alcanzar sus objetivos financieros.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="blog-item">

                            <div class="blog-content rounded-bottom p-4">
                                <div class="blog-date">2</div>

                                <a href="#" class="h4 d-block mb-3">Educación financiera</a>
                                <p class="mb-3">Ofrecer programas de educación financiera para ayudar a los clientes a mejorar sus habilidades financieras y tomar decisiones informadas.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="blog-item">

                            <div class="blog-content rounded-bottom p-4">
                                <div class="blog-date">3</div>

                                <a href="#" class="h4 d-block mb-3">Acceso a tecnología financiera</a>
                                <p class="mb-3">Proporcionar acceso a herramientas y plataformas de tecnología financiera para facilitar las transacciones y la gestión de las finanzas.</p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

           <div class="container-fluid blog py-5">
            <div class="container py-5">

                <div class="row g-4">
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="blog-item">

                            <div class="blog-content rounded-bottom p-4">
                                <div class="blog-date">4</div>

                                <a href="#" class="h4 d-block mb-3">Red de apoyo empresarial</a>
                                <p class="mb-3">Ofrecer una red de apoyo empresarial para conectar a los clientes con otros empresarios, proveedores y expertos en el sector.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="blog-item">

                            <div class="blog-content rounded-bottom p-4">
                                <div class="blog-date">5</div>

                                <a href="#" class="h4 d-block mb-3">Servicios de consultoría</a>
                                <p class="mb-3">Proporcionar servicios de consultoría para ayudar a los clientes a mejorar sus operaciones y aumentar su eficiencia</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="blog-item">

                            <div class="blog-content rounded-bottom p-4">
                                <div class="blog-date">6</div>

                                <a href="#" class="h4 d-block mb-3">Acceso a mercados</a>
                                <p class="mb-3">Ayudar a los clientes a acceder a nuevos mercados y oportunidades de negocio.</p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container-fluid blog py-5">
         <div class="container py-5">

             <div class="row g-4">
                 <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                     <div class="blog-item">

                         <div class="blog-content rounded-bottom p-4">
                             <div class="blog-date">7</div>

                             <a href="#" class="h4 d-block mb-3">Protección contra riesgos</a>
                             <p class="mb-3">Ofrecer productos y servicios para proteger a los clientes contra riesgos financieros, como seguros y garantías.</p>

                         </div>
                     </div>
                 </div>
                 <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                     <div class="blog-item">

                         <div class="blog-content rounded-bottom p-4">
                             <div class="blog-date">8</div>

                             <a href="#" class="h4 d-block mb-3">Servicios de pago y transferencia</a>
                             <p class="mb-3">Proporcionar servicios de pago y transferencia para facilitar las transacciones y la gestión de las finanzas.</p>

                         </div>
                     </div>
                 </div>
                 <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                     <div class="blog-item">

                         <div class="blog-content rounded-bottom p-4">
                             <div class="blog-date">9</div>

                             <a href="#" class="h4 d-block mb-3">Análisis de crédito</a>
                             <p class="mb-3">Realizar análisis de crédito para ayudar a los clientes a mejorar su calificación crediticia y acceder a créditos más favorables.</p>

                         </div>
                     </div>
                 </div>
             </div>

         </div>
     </div>