<div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
    <div class="container py-5">
        <div class="row g-5">

            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <div class="footer-item">
                        <h4 class="text-white mb-4">Acerca de</h4>
                    </div>

                    <div class="position-relative">
                        <input class="form-control rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="Ingrese su correo">
                        <button type="button" class="btn btn-secondary rounded-pill position-absolute top-0 end-0 py-2 mt-2 me-2">
                            Subscribe
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">

                    <h4 class="text-white mb-4">
                        Informacion Trading Capital Business SAC "TCB SAC"
                    </h4>

                    <a href="#">
                        <i class="fa fa-map-marker-alt me-2"></i>
                        Urbanización Los Rosales B-5, Arequipa
                    </a>

                    <a href="mailto:info@example.com">
                        <i class="fas fa-envelope me-2"></i>
                        contacto@tracb.com
                    </a>

                    <a href="tel:+012 345 67890">
                        <i class="fas fa-phone me-2"></i>
                        054-383542
                    </a>

                    <div class="d-flex">
                        <a class="btn btn-secondary btn-md-square rounded-circle me-3" href="">
                            <i class="fab fa-facebook-f text-white"></i>
                        </a>

                        <a class="btn btn-secondary btn-md-square rounded-circle me-3" href="">
                            <i class="fab fa-twitter text-white"></i>
                        </a>

                        <a class="btn btn-secondary btn-md-square rounded-circle me-3" href="">
                            <i class="fab fa-instagram text-white"></i>
                        </a>

                        <a class="btn btn-secondary btn-md-square rounded-circle me-0" href="">
                            <i class="fab fa-linkedin-in text-white"></i>
                        </a>
                    </div>

                </div>
            </div>

        </div>

        <div class="row mt-4 text-center">
            <div class="col-12 d-flex justify-content-center gap-3 flex-wrap">

                <a href="http://sys.maslandservices.com:8089/LibroReclamaciones.aspx"
                   class="btn btn-primary d-flex align-items-center">

                    <img src="img/librore.png"
                         alt="Libro"
                         style="width:24px; height:24px; margin-right:8px;">

                    Libro de Reclamaciones
                </a>

                <a href="index.html?view=terminos" class="btn btn-outline-light d-flex align-items-center">
                    <i class="fas fa-file-alt me-2"></i>
                    Términos y Condiciones
                </a>

            </div>
        </div>

    </div>
</div>