        <div class="container-fluid nav-bar sticky-top px-0 px-lg-4 py-2 py-lg-0">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                  <div class="titulo-con-imagen">
                    <a href="index.html" class="navbar-brand p-0">

                        <h1 class="display-6 text-primary">
                             <img src="img/logoc1.fw.png" alt="Icono">
                        </i>TCB</h1>
                        <!-- <img src="img/logo.png" alt="Logo"> -->
                    </a>
                     </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav mx-auto py-0">
                            <a href="index.html" class="nav-item nav-link">Inicio</a>
                              <a href="index.html?view=nosotros" class="nav-item nav-link">Nosotros</a>
                            <a href="index.html?view=productos" class="nav-item nav-link">Productos</a>
                          <a href="index.html?view=servicios" class="nav-item nav-link">Servicios</a>
                            <a href="http://sys.maslandservices.com:8089/" class="nav-item nav-link">Consulte su prestamo</a>

    <a href="https://tracb.com/aulavirtualtcb/" class="nav-item nav-link">Aula Virtual</a>
                        </div>
                        <a href="http://sys.maslandservices.com:8089/Clientes.aspx" class="btn btn-primary rounded-pill py-2 px-4">Empecemos</a>

                    </div>
                </nav>
            </div>
        </div>